version: '3.8'

services:
  # Base de Datos MySQL
  db:
    image: mysql:8.0
    container_name: cursos_db
    restart: always
    environment:
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  # Backend Python
  backend:
    build: ./backend
    container_name: cursos_backend
    restart: always
    ports:
      - "5000:5000"
    env_file: .env
    depends_on:
      - db

  # Frontend React
  frontend:
    build: ./frontend
    container_name: cursos_frontend
    restart: always
    ports:
      - "5173:5173"
    depends_on:
      - backend

volumes:
  db_data: